body{

    font-size: 8px;

    font-family: "sora",sans-serif;

    margin: 0 ;

   

}

*{
    box-sizing: border-box;
}
/* ======common======= */
.container{
    width: 800px;
    margin: 0 auto;
    
}

a{
    text-decoration: none;
}
:root{
    --main-color: #9fe870;
}

/* =======Header========= */
.header{
    background-color: #163300;
    min-height: 100vh;
   
}
.header__img{
        max-width: 30px;
        /* aspect-ratio: 1; */
        background-color: var(--main-color);
        border-radius: 50%;
        margin-right: 0.5rem;
        vertical-align: middle;
        object-fit: cover;
    }
.logo .title{
    font-weight: 800;
    color: var(--main-color);
    text-wrap: nowrap;
    text-shadow: 0.4px 0 0 ;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-style: Poppins;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.header-top{
    padding:8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
    list-style: none;
    
}

.action__log-in,
.navbar__link{
    padding: 8px 21px ;
    font-size: 8px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 1.75px;
    font-style: normal;
}
.navbar__link:hover,
.navbar__link--active{
    text-shadow: 0.75px 0 0 currentColor;
    color: white;
}

.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 3.25px;
    height: 3px;
    background: white;
    border-radius: 50%;
    position: relative;
    right: 4px;
    top: -2.5px;

}
.btn{
     display: inline-block;
    background-color: #1B5E20;
    min-width: 50px;
    color: aliceblue;
   

    

    text-align: center;

    border-radius: 24.5px;

    

    padding: 5px 12px;
    line-height: 15px;

}
.action__sign-up{
    
    font-size: 12px;
   
    min-width: 50px;

   

   

}
.hero{
    align-items: center;
    display: flex;
    padding-top: 33px;
    
    
}

.hero__left{
    width: 45%;
}
.hero__right{
    flex: 1;
    
 
}

.hero__heading{
    color: white;
    line-height:40px ;
    font-weight: bold;
    font-size: 30px ;
    line-height: 1.14;
    letter-spacing: 0.5px;
    
}
.hero__describe{
    color:#c9d2da;
    line-height: 1.67 ;
    font-weight: 300;
    margin-top: 12px;
}

.hero__images{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}
.hero__img{
    border-radius: 6px;
    object-fit: cover;
   
    
}
.hero__img-large{
    width: 200px;
    height: 300px;
    margin-right: -4px;
    z-index: 1;
   
}
.hero__img-small{
    width: 120px;
    height: 250px;
   
}
/*========Main========== */

 .about{
    margin-top: 80px;
    background-color: #fff;
}
.about__heading{
    color:#10375c;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.67px;
    letter-spacing: -0.5px;
}

.about__describe-1{
    margin: 20px auto 0;
    color: #575f66;
    font-size: 8px;
    font-weight: 300;
    line-height:1.67 ;
    width: 300px;

}

.about__heading, 
.about__describe-1{
    text-align: center;
    
} 
/* .about__describe-1{
    width: 400px;
    margin: 0 auto;
} */

.about__img{
    width: 400px;
    height: 300px;
    border-radius: 6px;
    object-fit: cover;
}
.about__body{
    display: flex;
    margin-top: 40px;
     justify-content: space-between;
    align-items: center;
     

}
.about-item{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 300px;
   
}
.about-item:hover{
    position: relative;
    box-shadow: 0px 14px 18px 0px rgba(0,0,0, 0.08);
}
 .about-item__icon{
    margin-right: 10px;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    background-color: #eff6fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
    transition: 0.3s ease;
}  


.about-item:hover .about-item__icon{
    background-color: #2e80ce;
    color: white;
}
.about-item__heading{
    color:#10375c;
    font-size: 15px;
    font-weight: 600;
    
    
}
.about-item__describe{
    
    margin-top: 8px;
    color: #575f66;
    font-size: 8px;
    font-weight: 300;
    line-height:1.67 ;
}
.about__btn{
    margin-top: 30px;
    background-color: #10375c;
}
/* =====footer====== */
.footer{
    
    background-color: #10375c;
    margin-top: 170px;
    padding-top: 100px;
    font-style: "Open Sans", sans-serif;
  
}
.footer__top{
   
    display: grid;
    grid-template-columns:1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}
.footer__img{
        max-width: 50px;
        /* aspect-ratio: 1; */
        background-color: #3638c5;
        color: white;
        border-radius: 50%;
        margin-right: 0.5rem;
        
        object-fit: cover;
        background-color: transparent;
}
.footer__describe{
    margin-top: 9px;
    color: #a9b3bb;
    font-size: 8px;
    font-weight: 400;
    line-height: 20px;

}
.footer__heading{
    color: white;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
}
.footer__list{
    list-style: none; 
    padding: 0;       
    margin: 0;        
}
.footer__link{
    color: #a9b3bb;
    font-size: 8px;
    line-height: 20px;
    white-space: nowrap;
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__item{
    margin-bottom: 10px;
}
.footer-social{
    margin-top: -4px;
    display: flex;
    column-gap: 4px;
    
    padding-left: 21px;
    
}
.footer-social__btn{
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    
   
}


.footer-social__btn--fb {
    color: #1877F2; 
}
.footer-social__btn--fb:hover {
    background-color: #1877F2;
    color: #fff;
}


.footer-social__btn--ig {
    color: #E4405F;
}
.footer-social__btn--ig:hover {
    background-color: #E4405F;
    color: #fff;
}

/* 3. Màu cho LinkedIn */
.footer-social__btn--in {
    color: #0077B5;
}
.footer-social__btn--in:hover {
    background-color: #0077B5;
    color: #fff;
}


.footer-social__btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.footer-form{
    width: 15px;
    height: 25px;
    display: flex;
    margin-top: 12px;
    column-gap: 10px;
}

.footer-form__input{
    font-size: 10px;
    border: 1px solid #406181;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color: white;
}
.footer-form__input::placeholder{
    font-size: 8px;
   
}
.footer-form__submit{
    background-color: #2e80ce;
    border: none;
    color: white;
}